
<div class="content-container">
  <div class="content-area">
      <router-outlet></router-outlet>
  </div>
  <clr-vertical-nav>
      <a clrVerticalNavLink routerLink="./project" routerLinkActive="active">Dashboard</a>
      <a clrVerticalNavLink routerLink="./activities" routerLinkActive="active">Activities</a>
      <a clrVerticalNavLink routerLink="./application" routerLinkActive="active">Appliaction Data</a>
      <a clrVerticalNavLink routerLink="./reflections" routerLinkActive="active">Reflections</a>
      <a clrVerticalNavLink routerLink="./analytics" routerLinkActive="active">Analytics</a>
      <a clrVerticalNavLink routerLink="./settings" routerLinkActive="active">Project Settings</a>
  </clr-vertical-nav>
</div>